{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <h2>
    {{ system.name }} 
  </h2>

  <h3 style="text-align:right">on {{ system.graph.dim }}D - {{ system.graph.geometry }}</h3>
  
  {% if system.contributors %}
  <h5 class="text-secondary" style="text-align:right">Contributed by {{ system.contributors }}</h5>
  {% endif %}

  <h4>{{ system.description }}</h4>

  {% if system.wikilink %}
    <button class="btn btn-outline-info"><a href={{ system.wikilink }} target="_blank">Wiki</a></button>
  {% endif %}

  {% if system.references %}
  <h4>Literature</h4>
  {% for ref in system.references.all %}
    <button class="btn btn-outline-info"><a href={{ ref.link }} target="_blank">{{ ref.disp_name }}</a></button>
  {% endfor %}
  {% endif %}

  {% if system.codelink %}
    <button class="btn btn-outline-info"><a href={{ system.codelink }} target="_blank">Code</a></button>
  {% endif %}

  <h4>Ground State Energies</h4>
  <table class="table" style="width: 100%">
  <tr>
    {% for par in params %}
      <th>{{ par }}</th>
    {% endfor %}
    <th>References</th>
    {% if theres_code %}
      <th>Code</th>
    {% endif %}
  </tr>
  {% for e in energies %}
    <tr>
      {% for attr, dec_places in e.pars %}
        <td>{{ attr|floatformat:dec_places }}</td>
      {%endfor %}
      <td>
      {% for ref in e.references.all %}
        <a href="#e_refs">[{{ ref.pk }}]</a> <!-- one can exchange #e_refs by #{ ref.pk }-->
      {% endfor %}
      </td>
      <td>
      {% for ref, refname in e.codelink %}
        <button class="btn btn-outline-info"><a href={{ ref }} target="_blank">{{ refname }}</a></button>
      {% endfor %}
      </td>
    </tr>
  {% endfor %}
  </table>
  <h4><a class="anchor" id="e_refs">Literature for energies</h4>
  <ul>
  {% for ref in energy_refs %}
    <li>
      [{{ ref.pk }}] <a id="{{ ref.pk }}" href={{ ref.link }} target="_blank">{{ ref.authors }} - {{ ref.title }} </a>
      {% if ref.bibtex %}
      <button class="clipbtn" data-clipboard-text="{{ ref.bibtex }}"><img width="16" src="/media/32px-Clipboard_Pictogram.svg.png"><img width="40" src="/media/2880px-BibTeX_logo.svg.png"></button>
      {% endif %}
    </li>
  {% endfor %}
  </ul>


</div>
{% endblock content %}

