{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <h2>
    {{ system.name }} 
  </h2>

  <h3 style="text-align:right">on {{ system.graph.dim }}D - {{ system.graph.geometry }}</h3>
  
  {% if system.contributors %}
  <h5 class="text-secondary" style="text-align:right">Contributed by {{ system.contributors }}</h5>
  {% endif %}

  <h4>{{ system.description }}</h4>

  {% if system.wikilink %}
    <button class="btn btn-outline-info"><a href={{ system.wikilink }}>Wiki</a></button>
  {% endif %}

  {% if sys_refs %}
  <h4>Literature</h4>
  {% for ref, refname in system.references %}
    <button class="btn btn-outline-info"><a href="{{ ref }}">{{ refname }}</a></button>
  {% endfor %}
  {% endif %}

  {% if system.codelink %}
    <button class="btn btn-outline-info"><a href="{{ system.codelink }}">Code</a></button>
  {% endif %}

  <h4>Ground State Energies</h4>
  <table class="table" style="width: 100%">
  <tr>
    {% for par in params %}
      <th>{{ par }}</th>
    {% endfor %}
    <th>References</th>
    {% if theres_code %}
      <th>Code</th>
    {% endif %}
  </tr>
  {% for e in energies %}
    <tr>
      {% for attr, dec_places in e.pars %}
        <td>{{ attr|floatformat:dec_places }}</td>
      {%endfor %}
      <td>
      {% for ref in e.references %}
        <a href="#e_refs">[{{ ref }}]</a>
        <!--button class="btn btn-outline-info"><a href="#e_refs">{ ref }}</a></button-->
      {% endfor %}
      </td>
      <td>
      {% for ref, refname in e.codelink %}
        <button class="btn btn-outline-info"><a href="{{ ref }}">{{ refname }}</a></button>
      {% endfor %}
      </td>
    </tr>
  {% endfor %}
  </table>
  <h4><a class="anchor" id="e_refs">Literature for energies</h4>
  <ul>
  {% for ref, refname, ref_no in all_energy_refs %}
    <li>[{{ ref_no }}] <a class="anchor" id="{{ ref_no }}" href="{{ ref }}">{{ refname }}</a></li>
  {% endfor %}
  </ul>
  <ul>
  {% for ref in refs2 %}
    <li>[{{ ref.pk }}] <a class="anchor" id="{{ ref.pk }}" href="{{ ref.link }}">{{ ref.authors }} - {{ ref.title }}</a></li>
  {% endfor %}
  </ul>


</div>
{% endblock content %}

