{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <h2>
    {{ system.name }} 
  </h2>

  <h3 style="text-align:right">on {{ system.graph.dim }}D - {{ system.graph.geometry }}</h3>
  
  {% if system.contributors %}
  <h5 class="text-secondary" style="text-align:right">Contributed by {{ system.contributors }}</h5>
  {% endif %}

  <h4>{{ system.description }}</h4>

  {% if system.wikilink %}
    <button class="btn btn-outline-info"><a href="{{ system.wikilink }}">Wiki</a></button>
  {% endif %}

  <!--{ if system.codelink %}
    <button class="btn btn-outline-info"><a href="{ system.codelink }}">Code</a></button>
  { endif %}-->

  <h4>Ground State Energies</h4>
  <table class="table" style="width: 100%">
  <tr>
    <th>Energy</th>
    <th>Error</th>
    <th>Test1:Par_no</th>
    <th>Test2:Par_no</th>
  </tr>
  {% for e in energies %}
    <tr>
      <td>{{ e.value }}</td>
      <td>{{ e.rel_error }}</td>
      <td>{{ e.system.n_par }}</td>
      <td>{{ e.dir }}</td>
    </tr>
  {% endfor %}
  </table>

  {% if refs %}
  <h4>Literature</h4>
  {% for ref, refname in refs %}
    <button class="btn btn-outline-info"><a href="{{ ref }}">{{ refname }}</a></button>
  {% endfor %}
  {% endif %}


</div>
{% endblock content %}

